
<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
<div class="card p-2">
  <div class="m-3 p-2">
    <h4 class='p-2 m-2 text-shadow '>New Tasks :</h4>

    <div class="card-body p-2 ">
      <div class="field form-group p-2">
        <%= form.label :title  , class:"form-label"%>
        <%= form.text_field :title , class:"form-control" , placeholder:"..." %>
      </div>
    </div>
  </div>




  <div class="m-3">
      <div class="card-body p-2 m-2">
        <div class="field form-group">
          <%= form.collection_select :assignee_id, User.order(:email), :id, :email  , class:"p-2"   %>
        </div>
        <br/>
        <div class="actions">
          <%= form.submit class:"btn btn-success p-2 m-2" %>
        </div>
      </div>
  </div>


  </div>
  </div>

<% end %>
