<br/>
    <%if @tasks.size == 0 %>
        <h1 class="text-center m-3 text-shadow"> No Tasks !!! </h1>
<br/>
<br/>
<br/>
<br/>

        <div class="loader  p-2">
          <div class="box">
            <div class="circle"></div>
          </div>
          <div class="box">
            <div class="circle"></div>
          </div>
        </div>
    <% else %> 


<h4 class="text-shadow p-2 m-3">To Do List : </h4>
<table class="table p-2 m-3">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
     <% if task.completed? %>
 
      <tr>
    
        <td class="text-capitalize"><%= task.title %> 
          <i class="bi bi-check2"></i>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2 text-success" viewBox="0 0 16 16">
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
          </svg>
        </td>
        
        <td>
          <%= link_to 'Show', task ,class: "btn btn-outline-dark btn-sm"%> |
          <%= link_to 'Edit', edit_task_path(task) , class: "btn btn-outline-dark btn-sm" %> |
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-outline-danger btn-sm" %>
        </td>

      </tr>
    <% else %>
      <tr>
        <td><%= task.title %></td>
        <td>
          <%= link_to 'Show', task ,class: "btn btn-outline-dark btn-sm" %> |
          <%= link_to 'Edit', edit_task_path(task)  , class: "btn btn-outline-dark btn-sm" %> |
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-outline-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
    <% end %>

  </tbody>
</table>






<br>

<%= link_to 'New Task', new_task_path ,class:"btn btn-dark p-2 m-3" %>
<%end%>