

<br/>
<br/>
<div class="row">
  <div class="col-lg-1"></div>

  <div class="col-lg-10">

    <div class="card  b-color p-2 shadow-lg" style="max-width: 100%;">
      <div class="row g-0 p-2 m-5">
          <div class="progress  shadow">
            <div class="progress-bar" role="progressbar" 
            style="width: <%= @course.progress_for(current_user)%>%"
            aria-valuenow="<%= @course.progress_for(current_user) %>"
            aria-valuemin="0" aria-valuemax="100"> <%= @course.progress_for(current_user) %> %             
            </div>
          </div>
          <br/>

        <div class="col-md-4 p-2">
          <div class="card" >
            <ul class="list-group list-group-flush">
              <% @course.lessons.each do |lesson| %> 
              <% if @lesson.id == lesson.id %>
                  <li class="list-group-item">
                    <%= link_to lesson.title, course_lesson_path(@course, lesson), class: "text-decoration-none text-reset fw-bold fst-italic"  %>  
                  </li>
              <% else %>
                  <li class="list-group-item">
                    <%= link_to lesson.title, course_lesson_path(@course, lesson), class: "text-decoration-none text-reset"  %>   
                  </li>
              <% end %>
                      <% if current_user.completedlessons.find_by(lesson_id: lesson.id) %>
                          done
                  <%end%>
              <% end %> 
            </ul>
          </div>
        </div>

        <div class="col-md-8 p-2">
          <div class="card-body ">
            <h4 class="fst-italic"> <%= @course.title %> </h4>
                <p>  <%= @lesson.title %></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
                <div class="position-absolute bottom-0 end-0 p-2">
                <% if  @next_lesson || @course.last_lesson?(@lesson) %>
                <%=   link_to "Next ", course_completedlessons_path(@course, lesson_id: @lesson.id), method: :post , class: 'btn btn-secondary btn-sm p-2'%>
                <% end %>
                <% if  @previous_lesson %>
                <%= link_to "Previous Lesson", course_lesson_path(@course, @previous_lesson), class: 'btn btn-dark btn-sm p-2'%>
                <% end %>
                </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>

</div>




