<%= form_with(model: course_rating) do |form| %>


   <div class="p-2">
   <h4 class="text-center">Share with us your feedback !!!</h4>
      <p  class=" lh-lg font-monospace">
       It’s not an easy or natural task, asking for someone’s opinion or evaluation of you and your work,
       but it’s an essential part of career development. We can’t promise that it will be painless,
       but with the proper preparation and the right questions, asking for feedback can be a smooth process.
      </p>
    </div>


  
  <div class="card-body">
    <%= form.hidden_field :course_id, value: @course.id%>
      <div class="mb-2">
        <div class="field form-group">
                <%= form.label :rating %> :
                <%= form.number_field :rating ,placeholder:"(1-5)" %>
        </div>
      </div>
  </div>

    <div class="mb-3">
      <div class="actions p-2 text-center">
        <%= form.submit "Feedback" ,class:"btn bg-success" %>
      </div>
    </div>



<% end %>
