
<br/>


<div class="container">
  <div class="row">
    <% @courses.each do |course| %>

      <div class="col-sm m-3 hover ">
        <div class="card card-shadow" style="width: 18rem; height:32rem ">
          <% if course.image.representable? %>
            <%= image_tag course.image.representation(resize_to_limit: [300, 200]) %>
          <% end %>
          <div class="card-body position-relative">
            <h5 class="card-title p-4 text-uppercase"><%= course.title %></h5>
            <p class="card-text"><%= course.description %></p>
            <p class="card-text position-absolute bottom-0 start-0""><small class="text-muted">Published: <%= course.published %></small></p>
            <div class="btn btn-success position-absolute bottom-0 end-0 m-1">
              <%= link_to 'Show', course ,class: "text-decoration-none text-reset" %>
            </div>
           
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>


