
<br/>


<div class="container">
  <div class="row">

    <%if @courses.size == 0 %>
        <h1 class="text-center m-3"> There are No Courses !!! </h1>
        <div class="loader  p-2">
          <div class="box">
            <div class="circle"></div>
          </div>
          <div class="box">
            <div class="circle"></div>
          </div>
        </div>
    <% else %>         
    <% @courses.each do |course| %>

         
      <div class="col-sm m-3 hover p-2 ">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded p-2 card-courses b-color" style="width: 18rem; height:32rem ">
          <% if course.image.representable? %>
            <%= image_tag course.image.representation(resize_to_limit: [300, 200]) , class:"img-courses" %>
          <% end %>

        <div class="card-body">
            <h5 class="card-title p-2 m-0 "><%= course.title %> </h5>
            <p class="card-text p-2"><%= course.description %></p>
            <%#Published: <%= course.published  %>    
             <%= render 'courses/course_rating' , course: course%>
              
             <%=l(course.created_at, format: :short)%>
           
            
        </div>   
  
          <%= link_to 'Show', course ,class: "btn btn-dark" %>      
        </div>
      </div>
  <%end%>  
  <%end%>  
  </div>
</div>



