<%= form_with( model: [:author , course]) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="card">
  <div class="mb-3">
    <h4 class='p-2 m-2 text-shadow '></h4>
    <div class="card-body">
      <div class="field form-group">
        <%= form.label :title , class:"form-label" %>
        <%= form.text_field :title ,class:"form-control"  , placeholder:"..."%>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="card-body">
      <div class="field form-group">
        <%= form.label :description , class:"form-label"%>
        <%= form.text_area :description ,  class:"form-control" ,placeholder:"..." %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="card-body">
      <div class="field form-group">
        <%= form.label :body , class:"form-label"%>
        <%= form.rich_text_area :body ,  class:"form-control" ,placeholder:"..." %>
      </div>
    </div>
  </div>
 

  <div class="mb-3 ">
    <div class="card-body">
    <div class="field form-group">
      <%= form.label :image , class:"form-label"%>
      <%= form.file_field :image  , class:"form-control"%>    
    </div>
  </div>
  </div>

  

  <div class="mb-3 ">
    <div class="card-body">
      <div class="field form-group">
        <%= form.label :published %>
        <%= form.check_box :published %>
      </div>
      <br/>
      <div class="actions">
        <%= form.submit class:"btn btn-success" %>
      </div>
    </div>
  </div>


  </div>

<% end %>




